# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store

# CMake files
CMakeFiles/
CMakeScripts/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Zed IDE
.zed

# Training data
data/training/
data/KNN.xml
